.container-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.h2{
    background:rgba(134, 171, 255, 0.914);
}
.para1{
    font-weight: 500;
    font-size: 24px;

    
}
.para2{
    font-family: serif;
     }

.vision-mission{
margin-left: 20%;
position: absolute;
}
.a-metro{
    margin-left: 30%;
    padding-top: 5%;
}
.vision-mission> h2{

    margin-left: 30%;
    padding-top: 5%;
}
.tbl{
margin-left: 20%;
position: absolute;
}

.flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div>p>.bt:hover{
background: #f68f30 !important;
}
.heading{
    font-weight: 900;
    font-family:initial ;
}

.hov:hover{
    background: #ff8b19!important;
}