.body{
    position: sticky;
}

.marque{
    display: flex;
    background-color: #3C3C43;
    line-height: 1.6em;
    color: #D9CCED;
    align-items: center;
  }

.pune-title-heading{
    font-weight: 700;
    font-size: 30px;
    
}

.whatsApp{
    width: 100%;
    
}

.helpline{
    width: 100%;
}

.explore{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon-contact{
    width: 2rem;
}

.corner_round_box{
    border-radius: 10px;
}

.icon-new{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}







.mapallign{
    align-content: center;
}
#lblHeading{
    color: #6351ce;
    font-size: 6rem;
}
#lblHeading2{
    color: #6351ce;
    font-size: 4rem;
}
.boxshadow{
    box-shadow: 10px 10px 1px rgba(red, green, blue, 10);
}