.pathinfo{
    background-color: antiquewhite;
}
.fs{
    font-size: 36px;
}
.bi{/*#A0D8F0*/
    background-color: #55528D;

}
.cs{
    width: 100%;
    border: solid black 1px;
    padding: 1%;
    border-radius: 10px;
}
.igb{
    border-radius: 10px;
    width: 100%;
}
.igbut{
    width: 100%;
    border-radius: 10px;
    color: white;
}
nav{
    font-size: 16px;
}
#lblHeading{
    font-size: 6rem;
    color: #6351ce;
}




























