.dropdowncutom{
    border: solid black 1px;
    margin: 1%;
    width: 90%;
    font-size: large;
    padding: 20px;
    border-radius: 10px;
}

.scroll-section {
    max-height: 100px;
    overflow-y: auto;
  }

  .dropbutton{

    width: 98%;
    margin: 1%;
    padding: 10px;
    
    border-radius: 15px;

  }

  .pdfbox{
    border: solid black 1px;
    border-radius: 50px;
    max-width: 100%;
    margin-left: 10px;
  }
  

  .dropbutton:hover{
    background-color: #55528D;
    color: white;

  }
  .lblHeading{
    color: #6351ce;
    font-size: 3rem;
}

.metro-card-img {
    width: 70%;
}

.hidden-div {
    display: none;
}

.content-margin-top {
    margin-top: 5%;
}