.pathinfo{
    background-color: antiquewhite;
}
.fs{
    font-size: 36px;
}
.bi{/*#A0D8F0*/
    background-color: #55528D;

}
.cs{
    width: 100%;
    border: solid black 1px;
    padding: 1%;
    border-radius: 10px;
}
.igb{
    border-radius: 10px;
    width: 100%;
}
.igbut{
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: green;
}

.metro-card-img {
    width: 70%;
}

.footer-margin-top {
    margin-top: 2%;
}
nav{
    font-size: 16px;
}.lblHeading{
    color: #6351ce;
    font-size: 3rem;
}




























